body{
    text-align: center;
    background-color: rgb(231, 229, 229);
}
.logoutbtn{
    display: flex;
    justify-content: space-evenly;
}
.gridbox{
    display: grid;
    grid-template-columns: auto auto auto;
}
.innerbox{
    display: flex;
    flex-direction: column;
}
.img{
    margin: auto;
}
.editinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(218, 218, 218);
    width: fit-content;
    padding: 20px;
    margin: auto;
}
input{
    width: 400px;
    height: 20px;
}